.wholePage{
  height: 100px;
  width: 100vw;
  .leftPanelAbout {
    position: fixed;
    height: 100vh;
    width: $side-panel;
    top: $navbar-height; left: 0; bottom: 0;
    float: left;
  }
  .rightPanelAbout {
    top: $navbar-height; bottom: 0; left: $side-panel;
    width: (100vw - $side-panel);
    position: absolute;
      .aboutTitle {
        font-weight: 800;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 0px;
        position: relative;
        background-color: blue;
        float: right;
        display: block;
        z-index: 1;
        width: 92.5%;
      }
    .timeline {
        position: relative;
        background-color: green;
        height: 95%;
        #arrowImg {
          background-color: pink;
          position: fixed;
          margin-top: 2%;
          float: left;
          height: 80%;
        }
      .lifeContainer {
        position: absolute;
        width: 90%;
        top: 10.5%; left: 3.5%; bottom: 25%; right: 10px;
        height: 85%;
        background-color: red;
        li {
          display: block;
          margin-top: 2.5px;
          margin-bottom: 2.5px;
          position: relative;
          height: 100px;
          background-color: purple;
          .eventImage {
            display: inline-block;
            position: absolute;
            top: 5%; left: 5px; bottom: 5%; right: 5px;
            float: left;
            height: 90%;
            width: 20%;
            background-color: pink;
            .imageFile {
              height: 100%;
              vertical-align: middle;
              display: block;
              margin: auto;
            }
          }
          .eventDescription {
            display: inline-block;
            position: absolute;
            top: 5%; left: 17.5%; bottom: 5%; right: 5px;
            float: right;
            height: 90%;
            width: 77.5%;
            background-color: pink;
            ul {
              position: relative;
              margin: auto;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              li {
                width: 100%;
                height: 100%;
                position: absolute;
                // display: inline-block;
                vertical-align: middle;
                display: block;
                // margin: auto;
                font-size: 20px;
                height: 28px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
    footer {
      background-color: rgba(255,255,255,0.9);
      width: 100%;
      position: fixed;
      bottom: 0px;
      height: 45px;
    }
  }
}

#durex {
  height: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 9px;
}

#permira {
  height: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#merrill {
  height: 57%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

#karhoo {
  height: 58.5%;
  display: block;
  margin: 0 auto;
  margin-top: 17.5px;
}
