@import 'base/variables';

header {
  width: 100vw;
  .navbar {
    background-color: rgba(255,255,255,0.8);
    border-top: 3px solid #2BFD8C;
    height: $navbar-height;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .container {
      li {
        font-family: $didact-gothic-font;
        font-weight: 800;
        text-decoration: none;
        line-height: 45px;
        font-size: 18px;
        display: inline-block;
        float: right;
        margin-left: 10px;
        color: #000000;
        a {
          text-decoration: none;
          color: #000000;
          transition: all 0.2s ease;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
