
//https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/
.centerBox {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 40vh;
  width: 60vw;
  background-color: #000000;
  opacity: 0.6;
  .titleText {
    z-index: 999;
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
  }
  .descriptionText {
    z-index: 999;
    text-align: center;
    h5 {
      margin-bottom: 0;
    }
  }
  .entryList {
    text-align: center;
    .listContainer {
      margin-bottom: 0;
      text-align: center;
      li {
        display: inline-block;
        font-size: 18px;
        font-weight: 800;
        margin-right: 7.5%;
        a {
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            opacity: 0.5;
            font-size: 24px;
          }
        }
      }
    }
  }
}

// .entryList {
//   .listContainer {
//     text-align: center;
//     li {
//       text-decoration: none;
//       line-height: 20px;
//       font-size: 8px;
//       // display: inline-block;
//       // float: right;
//       margin-left: 10px;
//       color: black;
//       a {
//         display: inline-block;
//         text-decoration: none;
//         color: #000000;
//         transition: all 0.2s ease;
//         &:hover {
//           opacity: 0.5;
//         }
//       }
//     }
//   }
// }


footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  opacity: 1;
  .socialIcons {
    margin-top: 2.5%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    .socialImage {
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      width: 40px;
    }
  }
}
