
//https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/
.centerBox {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 40vh;
  width: 60vw;
  // background-color: #FFFFFF;
  // opacity: 0.6;
  .titleText {
    z-index: 999;
    text-align: center;
    h1 {
      font-family: $lato-font;
      color: #000000;
      opacity: 1;
      font-size: 60px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  }
  .descriptionText {
    font-family: $lato-font;
    position: absolute;
    // vertical-align: middle;
    width: 100%;
    z-index: 999;
    text-align: center;
    h5 {
      font-weight: 800;
      margin-bottom: 0;
    }
  }
  .entryList {
    font-family: $lato-font;
    text-align: center;
    .listContainer {
      width: 100%;
      position: absolute;
      bottom: 30px;
      margin-bottom: 0;
      text-align: center;
      li {
        color: #FFFFFF;
        display: inline-block;
        font-size: 22px;
        font-weight: 800;
        margin-left: 5%;
        margin-right: 5%;
        a {
          color: #000000;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            // text-decoration: underline;
            opacity: 0.5;
            font-size: 30px;
          }
        }
      }
    }
  }
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  opacity: 1;
  .socialIcons {
    margin-top: 2.5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    .socialImage {
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
      width: 40px;
    }
  }
}
