@import 'base/variables';

/* ---- particles.js container ---- */
canvas {
  display: block;
}

#particleJs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  opacity: 0.6;
  z-index: 0;
}
