<div class="wholePage">
  <div class="leftPanelAbout">
    <div class="particlesSidePanel">
      <div ng-controller="particlesCtrl">
        <div particles-drv ng-show="showParticles">
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanelAbout">
    <header>
      <nav class="navbar">
        <ul class="container">
          <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
        </ul>
      </nav>
    </header>
    <section class="row twelve columns timeline">
      <h3 class="aboutTitle">So - to make a long story short . . . </h3>
      <ul class="row ten columns lifeContainer">
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/baby.jpg" alt="baby">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">I was born in Milan, Italy on <span class="purple">June 20th, 1993</span>. I was almost born in a pizzeria in via Correggio - but unfortunately, my parents made to the hospital in time... That would have been a better opening</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/sheep.jpg" alt="sheep">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">When I was 18 months old, we moved to Carlisle in the UK. My most vivid memory, is that of <span class="purple">being chased by a sheep</span> on the farm we lived in when I was 3 years old. That could have been the end of this story... </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/pisa.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">When I was 4, we moved back to Italy and lived in both Padova and Como. To this day I consider Italy to be my <span class="purple">'home sweet home'</span></p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/NJ.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2002, we moved to a very exotic land called <span class="purple">New Jersey</span>. It's not that bad folks! American middle school is something out of this world. <span class="purple">I peaked too soon in life</span></p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/london.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2007, we moved back to the UK, just outside <span class="purple">London</span>. I went to high-school here and did the International Baccalaureate. The IB is way worse than New Jersey.</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/BU.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">I graduated Summa Cum Laude from <span class="purple">Boston University</span> in 2015, where I studied Finance, Economics, Chinese, Philosophy, Poetry and Astronomy. <span class="purple">#NerdLife</span>. I miss all those amazing people - you know who you are </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/china.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText"> My freshman year of college, I spent the summer in <span class="purple">Beijing, China</span>. I passed my days working, studying Chinese and experiencing this amazing city... <span class="purple">我爱中国！</span></p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="durex" src="/images/durexLogo.png" alt="durex">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">My first real job - was selling condoms in China. True story. I spent my 19th birthday in <span class="purple">Durex's</span> global condom factory - <span class="purple">it was a dream come true<span class="purple">. Way better than Disneyworld</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="permira" src="/images/permiraLogo.png" alt="permira">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2013, I was super fortunate to spend my summer working in London for a private equity called <span class="purple">Permira</span>. We closed a kick-ass deal involving the boots brand <span class="purple">Dr. Maertens</span> 🤘🏻</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="merrill"src="/images/ML.png" alt="merrill">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">After graduating from BU - I got a job working at <span class="purple">Merrill Lynch</span> as a <span class="purple">TMT M&A analyst</span> in London. It was tough work but I learnt so much and met incredibly smart people</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/GA.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In Septermber, 2016 I decided <span class="purple">I wanted to learn how to code</span>. I love languages - and wanted to learn one that computers use to communicate. <span class="purple">Wittgenstein</span> said 'the limit to your world, is the limit of your language' - wise words Wittgenstein, wise words</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="karhoo" src="/images/karhooLogo.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">Since January 2017, I've been working at <span class="purple">Karhoo</span> - a global ground mobility company, working to make the taxi 🚖 industry great again! I take care of M&A, strategy and corporate development. <span class="purple">We're working on big things people</span>. Stay tuned!</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
      </ul>
      <img id="arrowImg" src="/images/arrow.svg" alt="arrrow">
    </section>
    <footer class="twelve columns">
    </footer>
  </div>
</div>
