<div class="wholePage">
  <div class="leftPanelAbout">
    <div class="particlesSidePanel">
      <div ng-controller="particlesCtrl">
        <div particles-drv ng-show="showParticles">
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanelAbout">
    <header>
      <nav class="navbar">
        <ul class="container">
          <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
        </ul>
      </nav>
    </header>
    <section class="row twelve columns timeline">
      <h3 class="aboutTitle">So - to make a long story short . . . </h3>
      <ul class="row ten columns lifeContainer">
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/baby.jpg" alt="baby">
          </div>
          <div class="eventDescription three columns">
            <ul>
              <li class="description">I was born hersssssasdasdasdadhfkjsdhfkjsdhfkjsdhfjklasdhfkljsadhfkjsdhaflkjhasdkfljhsadkljfhskjdfhkljasdhfjklasdhfkjlasdhfljkasdhfljkasdhfkljahsdflkjahsdlfkjhasdjklfhalksjdfhlkajsdhfjkasdhflkjasdhflkjsdfhe</li>
            </ul>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/pisa.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/NJ.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/london.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/BU.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/china.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="durex" src="/images/durexLogo.png" alt="durex">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="permira" src="/images/permiraLogo.png" alt="permira">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="merrill"src="/images/ML.png" alt="merrill">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/GA.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="karhoo" src="/images/karhooLogo.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
      </ul>
      <img id="arrowImg" src="/images/arrow.svg" alt="arrrow">
    </section>
    <footer class="twelve columns">
    </footer>
  </div>
</div>
