<div class="particlesBackground">
  <div ng-app="particlesApp">
    <div ng-controller="particlesCtrl">
      <div particles-drv ng-show="showParticles">
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="socialIcons">
    <a href="https://uk.linkedin.com/in/eduardofasano"><img src="../assets/images/linkedin.svg" alt="linkedin"></a>
    <a href="https://github.com/eduardofasano"><img src="../assets/images/github.svg" alt=""></a>
    <a href="https://twitter.com/FasanoEduardo"><img src="../assets/images/twitter.svg" alt=""></a>
  </div>
</footer>
