<div class="particlesBackground">
  <div ng-app="particlesApp">
    <div ng-controller="particlesCtrl">
      <div particles-drv ng-show="showParticles">
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="socialIcons">
    <a href="https://uk.linkedin.com/in/eduardofasano"><img src="/images/linkedin.svg" alt="linkedin" class="socialImage"></a>
    <a href="https://github.com/eduardofasano"><img src="/images/github.svg" alt="gitHub" class="socialImage"></a>
    <a href="https://twitter.com/FasanoEduardo"><img src="/images/twitter.svg" alt="twitter" class="socialImage"></a>
  </div>
</footer>
