<div class="wholePage">
  <div class="leftPanel">
    <div class="particlesSidePanel">
      <div ng-controller="particlesCtrl">
        <div particles-drv ng-show="showParticles">
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanel">
    <header>
      <nav class="navbar">
        <ul class="container">
          <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
          <li><a ui-sref="skills" ui-sref-active="active">Skills</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
        </ul>
      </nav>
    </header>
    <section class="row">
      <h3 class="pageHeader" typewrite blink-cursor="true" type-delay="100" blink-delay="1s" text="Here are some of my development projects..."></h3>
      <ul class="projectList">
        <li ng-repeat="project in projectsIndex.all" class="grid-item five columns li">
          <h5 class="projectTitle">{{ project.title }}</h5>
          <a ui-sref="projectsShow({ id: project._id })">
            <img ng-src="{{ project.image }}" class="u-full-width projectImage">
          </a>
          <h6 class="projectShortDescription">{{ project.shortDescription }}</h6>
          <div class="linkButtons">
            <p>{{project.githubLink}}</p>
            <a ng-href="{{ project.githubLink }}" target="_blank">{{project.githubLink}}<img src="/images/github.svg" alt="gitHub" class="linkIcon" id="gitHub"></a>
            <a ng-href="{{ project.herokuLink }}" target="_blank">{{project.herokuLink}}<img src="/images/heroku.svg" alt="heroku" class="linkIcon" id="heroku"></a>
          </div>
          <!-- <button class="u-full-width" ui-sref="projectsShow({ id: project._id })" type="button">See More</button> -->
        </li>
      </ul>
    </section>
  </div>
</div>
