<div class="wholePage">
  <div class="leftPanelAbout">
    <div class="particlesSidePanel">
      <div ng-controller="particlesCtrl">
        <div particles-drv ng-show="showParticles">
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanelAbout">
    <header>
      <nav class="navbar">
        <ul class="container">
          <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
        </ul>
      </nav>
    </header>
    <section class="row twelve columns timeline">
      <h3 class="aboutTitle">So - to make a long story short . . . </h3>
      <ul class="row ten columns lifeContainer">
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/baby.jpg" alt="baby">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">I was born in Milan, Italy on June 20th, 1993. I was almost born in a Pizzeria in via Correggio - but unfortunately, my parents made it in time to the hospital... Not all stereotypes are true</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/sheep.jpg" alt="sheep">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">When I was 18 months old, we moved to Carlisle in the UK. My most vivid memory, is that of being chased by a sheep on the farm we lived when I was 3 years old. It could have all ended there... </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/pisa.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">When I was 4, we moved back to Italy and lived in both Padova and Como. To this day I consider Italy to be my 'home sweet home'</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/NJ.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2002, we moved to a very exotic land called New Jersey. It's not that bad folks! American middle school is something out of this world. I peaked too soon in life </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/london.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2007, we moved back to the UK, just outside London. I went to high-school here and did the International Baccalaureate. The IB is way worse than New Jersey.</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/BU.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">I graduated Summa Cum Laude from Boston University in 2015, where I studied Finance, Economics, Chinese, Philosophy, Poetry and Astronomy. #NerdLife </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/china.png" alt="BU">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText"> My freshman year of college, I spent the summer in Beijing, China. I passed my days working, studying Chinese and experiencing this amazing city... 我爱中国！ </p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="durex" src="/images/durexLogo.png" alt="durex">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">My first real job - was selling condoms in China. True story. I spent my 19th birthday in Durex's global condom factory - it was a dream come true. Way better than Disneyworld</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="permira" src="/images/permiraLogo.png" alt="permira">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In 2013, I was super fortunate to spend my summer working in a private equity called Permira. We closed a kick-ass deal involving the boots brand Dr. Maertens 🤘🏻</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="merrill"src="/images/ML.png" alt="merrill">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">After graduating from BU - I got a job working at Merrill Lynch as a TMT M&A analyst in London. It was tough work but I learnt so much and met incredibly smart people</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" src="/images/GA.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">In Septermber, 2016 I decided I wanted to learn how to code. I love languages - and wanted to learn one that computers use to communicate. Wittgenstein said 'the limit to your world, is the limit of your language' - wise words Wittgenstein, wise words</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
            <img class="imageFile" id="karhoo" src="/images/karhooLogo.png" alt="GA">
          </div>
          <div class="eventDescription three columns">
            <p class="eventDescriptionText">Since January 2017, I've been working at Karhoo - a global ground mobility company, working to make the taxi 🚖 industry great again! I take care of M&A, strategy and corporate development. We're working on big things people. Stay tuned!</p>
          </div>
        </li>
        <li class="twelve columns lifeEvent">
          <div class="eventImage three columns">
          </div>
          <div class="eventDescription three columns">
          </div>
        </li>
      </ul>
      <img id="arrowImg" src="/images/arrow.svg" alt="arrrow">
    </section>
    <footer class="twelve columns">
    </footer>
  </div>
</div>
