<div class="wholePage">
  <div class="leftPanel">
    <div class="particlesSidePanel">
      <div ng-controller="particlesCtrl">
        <div particles-drv ng-show="showParticles">
        </div>
      </div>
    </div>
  </div>
  <div class="rightPanel">
    <header>
      <nav class="navbar">
        <ul class="container">
          <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
          <li><a ui-sref="about" ui-sref-active="active">About</a></li>
          <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
        </ul>
      </nav>
    </header>
    <section class="row contactForm">
      <h3 class="pageHeader">Say Hola - I'm always looking for a new 🖊 pal!</h3>
      <div class="row">
        <form ng-submit="contact.sendMail()">
          <div class="twelve columns">
            <label class="contactLabels">What's your name?</label>
            <input class="contactElements" type="text" name="name" placeholder="Your name" ng-model="contact.email.name">
          </div>
          <div class="twelve columns">
            <label class="contactLabels">What's your email?</label>
            <input class="contactElements" type="text" name="email" placeholder="Your email" ng-model="contact.email.email">
          </div>
          <div class="twelve columns">
            <label class="contactLabels">What's this about?</label>
            <textarea class="contactElements textBox" name="message" rows="16" cols="80" placeholder="Message" ng-model="contact.email.message"></textarea>
          </div>
          <button id="sendButton">Send</button>
        </form>
      </div>
    </section>
  </div>
</div>
