<div class="particlesBackground">
  <div ng-app="particlesApp">
    <div ng-controller="particlesCtrl">
      <div particles-drv ng-show="showParticles">
      </div>
    </div>
  </div>
</div>

<div class="centerBox" ng-controller="typewriteCtrl">
  <div class="titleText">
    <h1>Eduardo Fasano</h1>
  </div>
  <div class="descriptionText">
    <h4 typewrite blink-cursor="true" type-delay="100" blink-delay="1s" text="Strategy - Finance - Developer - Photographer"></h4>
  </div>
  <div class="entryList">
    <ul class="listContainer">
      <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
      <li><a ui-sref="about" ui-sref-active="active">About</a></li>
      <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
    </ul>
    <!-- <button type="button" name="button"><a ui-sref="projectsIndex" ui-sref-active="active">Enter</a></button> -->
  </div>
</div>

<footer>
  <div class="socialIcons">
    <a href="https://uk.linkedin.com/in/eduardofasano"><img src="/images/linkedin.svg" alt="linkedin" class="socialImage"></a>
    <a href="https://github.com/eduardofasano"><img src="/images/github.svg" alt="gitHub" class="socialImage"></a>
    <a href="https://twitter.com/FasanoEduardo"><img src="/images/twitter.svg" alt="twitter" class="socialImage"></a>
  </div>
</footer>
