<header>
  <nav class="navbar">
    <ul class="container">
      <li><a ui-sref="about" ui-sref-active="active">About</a></li>
      <li><a ui-sref="projectsIndex" ui-sref-active="active">Projects</a></li>
      <li><a ui-sref="contact" ui-sref-active="active">Contact Me</a></li>
    </ul>
  </nav>
</header>

<section class="row">
  <h1>Portfolio</h1>
  <ul>
    <li ng-repeat="project in projectsIndex.all" class="grid-item four columns li">
      <a ui-sref="projectsShow({ id: project._id })">
        <img ng-src="{{ project.image }}" class="u-full-width">
      </a>
      <h4>{{ project.title }}</h4>
      <h6>{{ project.shortDescription }}</h6>
      <button class="u-full-width" ui-sref="projectsShow({ id: project._id })" type="button">See More</button>
    </li>
  </ul>
</section>
