@import 'partials/header';
@import 'partials/particle';
@import 'base/variables';

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

// .socialIcons{
//   color: black;
//   z-index: 10;
.socialImage {
  width: 60px;
  opacity: 1;
}
// }
